@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Mouse+Memoirs&display=swap');

/* Setting the background colour of pages*/
:root {
    background-color: #002466;
}

/* Removing padding & margins from everything on the page to allow me to customise these. Setting font, size & colour to be used */
* {
    font-family: "Fresca", sans-serif;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}

h1 {
    color: #C7D1D1;
    font-family: "Mouse Memoirs", sans-serif;
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2rem;
}

/* Flexbox container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.quiz-container {
    width: 80%;
    background-color: #B18B43;
    border-radius: 10px;
    padding: 2rem;
}

#question {
text-align: center;
padding-bottom: 2rem;
}

/* BUTTONS */

.btn {
    background-color: #19418C;
    padding: 10px;
    border-radius: 10px;
    color: #f5f5f5;
}