@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Mouse+Memoirs&display=swap');

:root {
  --heading-text: "Mouse Memoirs", sans-serif;
  --content-text: "Fresca", sans-serif;
  --dark-blue: #19418C;
  --black: #000000;
  --silver: #C7D1D1;

}

/* Removing padding & margins from everything on the page to allow me to customise these. */
* {
    padding: 0;
    margin: 0;
}

body {
  background-image: url("../images/castle.webp");
  background-color: var(--dark-blue);
  background-position: center;
  background-size: cover;
  height: 100%;
}

h1 {
    color: var(--silver);
    font-family: var(--heading-text);
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}

/* Flexbox container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.quiz-container {
    width: 80%;
    background-color: var(--black);
    opacity: 80%;
    border-radius: 25px;
    padding: 2rem;
}

#question {
text-align: center;
padding-bottom: 2rem;
color: var(--silver);
}

/* BUTTONS */

.btn {
    background-color: var(--dark-blue);
    padding: 10px;
    border-radius: 25px;
    color: var(--silver);
    font-family: var(--content-text);
}



/* Media Queries */

/* Tablets */
@media only screen and (min-width : 481px) {
 h1 {
   font-size: 4rem;
 }
}


/* Laptops */
@media only screen and (min-width : 769px) {
  h1 {
    font-size: 6rem;
  }

}